.gridContainer{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.gridItems{
    display: grid;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}