.gridContainer{

    max-width: 100%;
}

.gridItem{
   
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 1px;
    text-align: center;
    max-width: 40px;
    width:40px
    
}

.gridItem:hover{
 cursor: pointer;
}



.Additional-Row{
    margin-top: 20px;
}