/* index.css */
ul li a {
    color: #000;
}

ul li a:hover {
    color:#e0bebe
}

ul li a.active {
    color: #ffffff;
}

ul{
    display: inline-flex;

}

li{
    padding: 20px;
    list-style: none;
    margin: 0px !important
}    

nav{
    max-width: 100px;
    padding: 0% !important;
    margin: 0px !important;
}