body{
  background-color: #CD8F81
}

h1{
  color: white;
  font-size: 60px;
  margin: 30px!important;
}

h2{
  color: white;
}

h3{
  color: white;
}
.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 30px;
  margin-top: 15%;
  text-align: center;
  width: 50%;
 
}


 .image {
   width: 50%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 20px;
    }

.firstImage {
  max-width: 100%;
  height: auto;
}
